/* General styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif !important;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(200, 200, 200, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 56px;
  transition: width 0.3s;
  z-index: 10;
}

.sidebar.open {
  background: linear-gradient(150deg, #ffecd2 0, #fcb69f);
  width: 200px;
  z-index: 10;
}

.menu-button {
  align-items: center !important;
}

.menu-item {
  display: flex;
  align-items: center !important;
  cursor: pointer;
  padding: 1rem;
  font-size: 18px;
  font-weight: 500;
  color: #302f2c;
}

.menu-item:hover {
  background-color: rgba(200, 200, 200, 0.1);
}

.menu-item-icon {
  margin-right: 8px;
}

/* Application layout */
.app {
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-container {
  max-width: 800px;
  padding: 2rem;
  padding-left: 2.5rem;
  min-height: 88vh !important;
  transition: margin-left 0.3s;
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .sidebar {
    max-width: 0px !important;
    box-shadow: none;
  }

  .menu-item {
    margin-left: 32px;
    margin-top: 18px;
  }


  .menu-icon {
    display: none !important;
  }

  .my-input-field,
  .length-slider {
    width: 36vb !important;
    max-width: 95%;
  }

  .title-switch-container {
    margin: 8px !important;
    margin-left: 30px !important;
  }

  .language-select {
    margin: 8px !important;
    margin-left: 24px !important;
  }

  .heading {
    font-size: 18px !important;
    width: 100px !important;
    margin: 8px !important;
    margin-right: 1.5rem !important;
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 16px;
    left: 16px;
    z-index: 11;
  }

  .sidebar.open~.app-container,
  .footer {
    display: none;
  }

  .app {
    background: linear-gradient(150deg, #ffecd2 0, #fcb69f) !important;
  }

  .app-container {
    max-width: 90%;
    padding: 0px;
    padding-top: 8px;
  }

}